<a href="https://colab.research.google.com/github/Shruthi123581/Shruthi123581/blob/main/WebScraping_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Web Scraping**

Four Basic Steps:

->Sending a HTTP GET request to the URL of the webpage by using request library

->Fetching and parsing the data using BeautifulSoup and maintain the data in some dict or list

->Analyzing the HTML tags and their attributes

->Output the data in any file format (.csv,.xlsx,.json)

In [ ]:
#Install BeautifulSoup
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [ ]:
#import the packages
import requests
from bs4 import BeautifulSoup

In [ ]:
#help(requests)

In [ ]:
#enter the url from makaan.com
url = "https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city"

In [ ]:
request = requests.get(url)
request

In [ ]:
#request.content

In [ ]:
soup = BeautifulSoup(request.content,'html')
#print(soup)
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [ ]:
#print(soup.prettify)

In [ ]:
soup.find('span')

In [ ]:
#soup.find_all('span')

In [ ]:
soup.find('span',attrs={'class':'seller-type'})

In [ ]:
soup.find('span',attrs={'class':'seller-type'}).text

'BUILDER'

In [ ]:
soup.find('div',attrs={'data-type':'price-link'}).text.strip()

'56.98 L'

In [ ]:
soup.find('div',attrs={'class':'title-line'}).span.text.strip()

'2'

In [ ]:
soup.find('span',attrs={'itemprop':'addressLocality'}).text

'Bachupally'

In [ ]:
soup.find('td',attrs={'class':'size'}).text.strip()

'1295'

In [ ]:
soup.find('td',attrs={'class':'lbl rate'}).text

'4,400 / sq ft'

In [ ]:
soup.find('td',attrs={'class':'val'}).text

'Under Construction'

In [ ]:
soup.find('li',attrs={'class':'keypoint',
                      'title':'Bathrooms'})

In [ ]:
sel_lst = soup.find_all('span',attrs={'class':'seller-type'})
print(sel_lst)
print(len(sel_lst))

[<span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>, <span class="seller-type">BUILDER</span>]
20

In [ ]:
#To get the Seller Information
sel_info = []
for i in sel_lst:
  sel_info.append(i.text)
#sel_info

In [ ]:
#Comprehension
sel_info_c = [i.text for i in sel_lst]
#sel_info_c

In [ ]:
#price evaluation
prc_lst = soup.find_all('div',attrs={'data-type':'price-link'})
#prc_lst
prc_info = [i.text.strip() for i in prc_lst]
#prc_info

In [ ]:
nbhk_lst = soup.find_all('div',attrs={'class':'title-line'})
nbhk_info = [i.span.text.strip() for i in nbhk_lst]
#nbhk_info

['2',
 '3',
 '2',
 '3',
 'Residential Plot',
 '3',
 '2',
 '3',
 'Residential Plot',
 '2',
 '3',
 '3',
 '2',
 '2',
 'Residential Plot',
 '2',
 '3',
 '2',
 'Residential Plot',
 '2']

In [ ]:
#location list 
loc_lst = soup.find_all('span',attrs={'itemprop':'addressLocality'})
loc_info = [i.text for i in loc_lst]
#loc_info

In [ ]:
#to get the price for sqft
prcpsqft_lst = soup.find_all('td',attrs={'class':'lbl rate'})
prcpsqft_info = [i.text for i in prcpsqft_lst]
#prcpsqft_info

In [ ]:
#to get thea area size
area_lst = soup.find_all('td',attrs={'class':'size'})
area_info = [i.text for i in area_lst]
#area_info

In [ ]:
#to get the construction status
cons_lst = soup.find_all('td',attrs={'class':'val'})
cons_info = [i.text for i in cons_lst]
#cons_info

In [ ]:
#To get the no. of bathrooms
nbath_lst = soup.find_all('li',attrs={'class':'keypoint','title':'Bathrooms'})
nbath_info = [i.text for i in nbath_lst]
nbath_info

[]

In [ ]:
bathr = soup.find_all('ul',attrs={'class':'listing-details'})
nbath_info = []
for i in bathr:
  if i.find('li',attrs={'class':'keypoint','title':'Bathrooms'}) is None:
    nbath_info.append("Not Mentioned")
  else:
    nbath_info.append(i.find('li',attrs={'class':'keypoint','title':'Bathrooms'}).text)
nbath_info

['Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned',
 'Not Mentioned']

In [ ]:
import pandas as pd
data = pd.DataFrame({
    'Seller_info':sel_info_c,
    'Price':prc_info,
    'Locality':loc_info,
    'No_bhk':nbhk_info,
    'Price_per_Sqft':prcpsqft_info,
    "Construction_status":cons_info,
    "Area":area_info,
    "No_bathrooms":nbath_info
})

In [ ]:
data

   Seller_info    Price    Locality  ... Construction_status   Area   No_bathrooms
0      BUILDER  56.98 L  Bachupally  ...  Under Construction  1295   Not Mentioned
1      BUILDER  1.11 Cr      Yapral  ...  Under Construction  2070   Not Mentioned
2      BUILDER  65.48 L    Kompally  ...  Under Construction  1310   Not Mentioned
3      BUILDER  75.13 L   Mallampet  ...  Under Construction  1503   Not Mentioned
4      BUILDER  25.05 L   Thimmapur  ...                 New  1503   Not Mentioned
5      BUILDER   67.5 L  Sangareddy  ...  Under Construction  1350   Not Mentioned
6      BUILDER     96 L     Attapur  ...  Under Construction  1173   Not Mentioned
7      BUILDER  93.25 L   Manikonda  ...       Ready to move  1636   Not Mentioned
8      BUILDER     54 L      Kothur  ...              Resale  1800   Not Mentioned
9      BUILDER  56.02 L   Ghatkesar  ...  Under Construction  1245   Not Mentioned
10     BUILDER  70.18 L  Bachupally  ...  Under Construction  1595   Not Mentioned
11     BUILDER  1.37 Cr      Yapral  ...  Under Construction  2545   Not Mentioned
12     BUILDER  62.23 L    Kompally  ...  Under Construction  1245   Not Mentioned
13     BUILDER  55.33 L   Mallampet  ...  Under Construction  1107   Not Mentioned
14     BUILDER  25.05 L   Thimmapur  ...                 New  1503   Not Mentioned
15     BUILDER     55 L  Sangareddy  ...  Under Construction  1100   Not Mentioned
16     BUILDER   1.4 Cr     Attapur  ...  Under Construction  1777   Not Mentioned
17     BUILDER  74.55 L   Manikonda  ...       Ready to move  1308   Not Mentioned
18     BUILDER     54 L      Kothur  ...              Resale  1800   Not Mentioned
19     BUILDER  56.02 L   Ghatkesar  ...  Under Construction  1245   Not Mentioned

[20 rows x 8 columns]

In [ ]:
data.head() #top 5 rows

In [ ]:
data.to_csv('Aprmntshyd.csv')